#button-large-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 100px;
  background: #68a1fb;
  color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

#loading-container {
  height: 25px;
  align-items: center;
  justify-content: center;
  width: 50px;
}
